.pair-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.pair {
  display: flex;
  justify-content: space-between;
}

.pair c-combobox,
.pair p {
  width: 40%;
}

.pair {
  margin-top: 15px;
}

.delete-icon {
  display: flex;
  width: 20px;
  fill: var(
    --slds-c-icon-color-foreground-default,
    var(--sds-c-icon-color-foreground-default, var(--lwc-colorTextIconDefault, rgb(116, 116, 116)))
  );
}

.drop-icon {
  display: flex;
  width: 20px;
  align-items: center;
  cursor: move;
}

.delete-icon svg {
  cursor: pointer;
}