/* .slds-page-header {
  border-radius: unset !important;
  width: 100%;
  position: fixed;
  margin-top: -35px;
  left: 0;
  right: 0;
  z-index: 10;
} */

.container {
  height: 100%;
  background-color: white;
  padding: 15px;
}

.loading-container {
  height: 100%;
  position: relative;
}

.illustration-onloading {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.field-pair-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.field-pair {
  display: flex;
  justify-content: space-between;
}

.field-pair lightning-combobox {
  width: 40%;
}
