.container {
  min-height: 100%;
  background-color: white;
}

h2 {
  font-size: 24px;
}

.illustration-onloading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pair-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.pair {
  display: flex;
  justify-content: space-between;
}

.pair lightning-combobox,
.pair c-combobox,
.pair p {
  width: 40%;
}

.pair + .pair {
  margin-top: 15px;
}

.delete-icon {
  display: flex;
  width: 20px;
  fill: red;
}

.drop-icon {
  display: flex;
  width: 20px;
  align-items: center;
  cursor: move;
}

.delete-icon svg {
  cursor: pointer;
}

hr {
  border-color: darkgray;
}

.condition-container {
  width: 85%;
}

.drag {
  margin-top: 15px;
}

.slds-panel_docked {
  height: auto !important;
}

/* :host {
  --slds-c-accordion-section-spacing-inline-end: 3rem;
} */